# macOS
.DS_Store

# Diretórios temporários de IDEs
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Arquivos de sistema
Thumbs.db
ehthumbs.db
desktop.ini

# Arquivos de log e temporários
*.log
*.tmp
*.bak
*.swp

# Pastas de cache
.cache/
__pycache__/
node_modules/

# Arquivos gerados por execução
*.tfstate
*.tfstate.*
*.terraform/
terraform.tfvars
.env
.env.*

# Outros
*.zip
*.tar
*.gz
